.nav-item {
    cursor: pointer;
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../svg/loading.gif') no-repeat center #f8fafc80;
    z-index: 1;
    display: none;
}

.highlight {
	padding-left: 10px;
}

.term-emulated {
	color: #525452;
}

.term-emulated div::before {
	content: "- ";
	font-weight: bold;
}

.hidden {
	display: none;
}